{% extends "public/templates/public_template.html" %}

{% block title %}Your command{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      
      <h1>Your wish is my command</h1>
      <hr>

      <form action="/command" method="POST">

	<div class="form-group">
	  <label>Command</label>
	  <input type="command" class="form-control" id="command" name="command" placeholder="Enter your wish, er, command.">
	</div>

	<button type="submit" class="btn btn-primary">Do it!</button>

      </form>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      
      <div>
	<h2>stdout</h2>
	{{ p.stdout }}
      </div>
      <div>
	<h2>stderr</h2>
	{{ p.stderr }}
      </div>
    </div>
  </div>
</div>

{% endblock %}
